.container_section {
    gap: 22px;
    width: 100%;
    height: 100vh;
    display: flex;
    max-width: 340px;
    align-items: center;
    flex-direction: column;
    justify-content: center;


    & .container_form {
        gap: 22px;
        width: 100%;
        display: flex;
        border-radius: 4px;
        align-items: center;
        flex-direction: column;
        padding: 42px 22px;
        background-color: var(--color-grey-3);
    }

    & .filed_register {
        gap: 22px;
        width: 100%;
        display: flex;
        height: 100px;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;

        a {
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            line-height: 26.394px;
            text-decoration: none;
            color: var(--color-grey-0, #F8F9FA);
        }
    }
}

@media (max-width:700px) {
    .container_section {
        width: 100%;
    }
}