form {
    display: flex;
    flex-direction: column;
}

.form_login,
.form_register {
    gap: 22px;
    width: 100%;
    display: flex;
    flex-direction: column;

    & div {
        gap: 1.3956rem;
        display: flex;
        flex-direction: column;
    }

    .sp_button {
        height: 48px;
    }
}