.form_login {
    gap: 22px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form_register {
    gap: 22px;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.select_container {
    display: flex;
    gap: 1.375rem;
    flex-direction: column;
}