.title1 {
    font-weight: 700;
    font-size: 1.125rem;
    font-family: var(--font-global);
    color: var(--color-grey-0);
}

.title2 {
    font-weight: 700;
    font-size: 1rem;
}

.headline {
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--color-grey-1);
}

.headline_bold {
    font-weight: 700;
    font-size: 0.75rem;
}

.paragraph {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-grey-0);
}

.paragraphSm {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: var(--color-grey-1);

}


.errorMessage {
    font-size: 0.75rem;
    color: var(--navigative);
}

.removeLink {
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
}